@model P3Image_Teste.Administracao.Models.SubCategoria

@{
    ViewBag.Title = "Incluir";
}

<h2>Incluir</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SubCategoria</legend>

          <div class="editor-label">
               @Html.LabelFor(model => model.CategoriaId)
        </div>
        <div class="editor-field">
              @Html.DropDownListFor(m => m.categoria.categoriaId, (IEnumerable<SelectListItem>)ViewBag.ListaDrop)
            @Html.ValidationMessageFor(model => model.categoria.categoriaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descricao)
            @Html.ValidationMessageFor(model => model.descricao)
        </div>


        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
        @Html.ActionLink("Voltar para listagem", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
