@model IEnumerable < P3Image_Teste.Administracao.Models.CategoriaModel >

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Incluir nova Categoria", "Incluir")
</p>
<table>
    <tr>
        <th>
            teste
        </th>
        <th>    
          teste
        </th>
        <th>slug</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoriaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
               <td>
            @Html.DisplayFor(modelItem => item.slug)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.categoriaId }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.categoriaId })
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.categoriaId })
        </td>
    </tr>
}

</table>
