@model P3Image_Teste.Administracao.Models.CamposModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Campos</legend>
    <div class="display-label">
         @Html.DisplayName("Subcategoria")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.subCategoria.descricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ordenacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ordenacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo)
    </div>
    <div class="display-field">
    <div id="divTipo">
        @Html.DisplayFor(model => model.tipoTexto)</div>
    </div>
    <div id="divListagem">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.listacheckDrop)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.listacheckDrop)
    </div>
        </div>
</fieldset>
    
<p>
    @Html.ActionLink("Editar", "Editar", new {  id=Model.campoId  }) |
      @Html.ActionLink("Voltar para listagem", "Index", new { Id=Model.subCategoria.subCategoriaId })


</p>
